<!-- Footer div -->
  <footer class="footer">
    <div class="footer_inner">
      <div class="foot_logo">
        <img
          src="/icons/learneasy3.png"
          alt="Learn Smart logo"
          class="brain-logo"
        />
      </div>
      <div class="links_container">
        <div class="resources">
          <h4>Explore</h4>
          <div class="links">
            <a href="index.html">Home</a>
            <a href="courses.html">Resources</a>
            <a href="contact.html">Contact</a>
            <a href="#about">About</a>
          </div>
        </div>
        <div class="community_link">
          <h4>Communities</h4>
          <div class="communities">
            <a href="https://dev.to/">DEV</a>
            <a href="https://hashnode.com/">Hashnode</a>
            <a href="https://www.indiehackers.com/">Indie Hackers</a>
            <a href="https://stackoverflow.com/">StackOverflow</a>
          </div>
        </div>
        <div class="social_div">
          <h4>Follow us on</h4>
          <div class="icon_links">
            <a href="#facebook"><i class="bx bxl-facebook-circle"></i></a>
            <a href="#instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#github"><i class="bx bxl-github"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright_div">
      <p>Copyrights ©2022. All rights are reserved.</p>
    </div>
  </footer>
<!-- End of footer div -->
