* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* Header and navbar */
header {
    background-color: #0fb263;
    padding: 0 1rem;
}
header .navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navigation .navbar_logo {
    width: 14%;
    margin: .2rem 0;
    margin-left: 8rem;
}
.navbar_logo img{
    width: 100%;
    height: 100%;
}
.navigation .navbar_links {
    text-align: right;
    width: 100%;
    /* background-color: red; */
}
.navbar_links a {
    /* padding: 5rem; */
    margin-right: 5rem;
    text-decoration: none;
    color: #043721f1;
    font-size: 20px;
    padding: 6px;
    /* background-color: red; */
}
.navbar_links a:hover {
    color: #fff;
    transition: all 0.4s linear;
    border-bottom: 3px solid #03492bf1;
}
/* End of Navbar */