* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Header and navbar */
header {
    background-color: #0fb263;
    padding: 0 1rem;
}
header .navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navigation .navbar_logo {
    width: 14%;
    margin: .2rem 0;
    margin-left: 8rem;
}
.navbar_logo img{
    width: 100%;
    height: 100%;
}
.navigation .navbar_links {
    text-align: right;
    width: 100%;
    /* background-color: red; */
}
.navbar_links a {
    /* padding: 5rem; */
    margin-right: 5rem;
    text-decoration: none;
    color: #043721f1;
    font-size: 20px;
    padding: 6px;
    /* background-color: red; */
}
.navbar_links a:hover {
    color: #fff;
    transition: all 0.4s linear;
    border-bottom: 3px solid #03492bf1;
}
/* End of Navbar */

/* Heading */
h2 {
    text-align: center;
    padding: 3rem;
    font-size: 34px;
    color: #073521f1;
}

/* Content blocks */
.main_blocks {
    width: 80%;
    margin: 0 auto;
}
.col-sm-6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
}
.col-md-4 {
    padding: 0 2rem;
    width: 25%;
} 
.col-md-4 {
    width: 20%;
}
.col-md-8 {
    width: 100%;
}
.card-body {
    border-left: 2px solid black;
    padding-left: 2rem;
    width: 100%;
}
.card-body span {
    color: rgb(0, 130, 61);
    font-size: 16px;
}
.card-body a {
    font-size: 16px;
    margin: 2rem;
    margin-left: 0;
    padding: .4rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(31, 157, 115);
    border-radius: 5px;
}
.card-body a:hover {
    background-color: #33c493;
    transition: all 0.4s ease;
}

/* Responsive Part */


@media (min-width: 280px)and (max-width:480px) {
    header .navigation {
        display:block;
        width: 100%;
        height: 100%;
        padding: .4rem 0;
    } 
    
    .navigation .navbar_logo {
        width:100%;
        margin: 0;
        margin-left:0; 
        display: flex !important;
        justify-content:center !important;
        align-items:center !important;
        padding: .8rem;
    }
    .navbar_logo img{
        width: 100%;
        height: 100%;
    }
    .navigation .navbar_links {
        display:none;
   }
 
    h2 {
        font-size:21px;
    }
    
    .card{
        width: 90% !important;
    }
 
    .col-sm-6{
        display: block !important;
    }
    .img-fluid{
        width: 100px !important;
        height: 100px !important;
        max-width:200px !important;
        object-fit: contain;
    }
    
    .card-body {
        border-left: none;
    }
    
    .col-md-4{
        width:100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .col-md-8{
        width: 100% !important;
        display: block !important;
    }
    
    .card-body a {
        font-size: 16px;
        margin: 2rem;
        margin-left: 0;
        /* margin-top: 4rem; */
        padding: .4rem;
        text-decoration: none;
        color: #fff;
        background-color: rgb(31, 157, 115);
        border-radius: 5px;
        width: 100%;
        display: block;
        text-align: center;
    }
    
}
    
 
 /* 481px and 848px */
 @media (min-width:481px)and (max-width:848px) {
    header .navigation {
        display:block;
        width: 100%;
        height: 100%;
    } 
    
    .navigation .navbar_logo {
        width:150px !important;
        margin: 0 auto;
        padding: 0.2rem;
        height:150px !important;
    }
    .navbar_logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .navigation .navbar_links {
        text-align: center;
    }
    .navigation .navbar_links {
        display:none;
    }
    .navbar_links a {
        padding:.8rem;
        margin-right: 0rem;
    }
    h2 {
        font-size:21px;
    }
    .card{
        width: 400px !important;
    }
    
    .col-sm-6{
        /* background-color:#ff6363; */
        display: block !important;
    }
    .img-fluid{
        width: 100px !important;
        height: 100px !important;
        max-width:200px !important;
        object-fit: contain;
    }
    
    .card-body {
        border-left: none;
    }
    
    .col-md-4{
        width:100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .col-md-8{
        width: 100% !important;
        display: block !important;
    }
    
    .card-body a {
        font-size: 16px;
        width:60%;
        text-align: center;
        margin:1.5rem;
        margin-left: 0;
        padding:.5rem;
    }
}