/* Import font link */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* @import "media.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Scrollbar style */
::-webkit-scrollbar-thumb {
  background-color: #00835c;
  border-radius: 12px;
}

/* Navbar div */
header .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0px 4px 10px 3px #7a7a7a
}
.navigation .navbar_logo {
  width: 14rem;
  margin-left: 8rem;
}
.navbar_logo a {
  width: 100%;
}
.navbar_logo a img {
  width: 100%;
  height: 60px;
}
.navigation .sidebar {
  display: none;
}
.navigation .navbar_links {
  width: 100%;
}
.active{
  display: block !important;
  transition: transform 2s linear;
  width: 100%;
  animation: slide .8s linear forwards;
}
img {
  width: 100%;
  height: 100%;
}
.navbar_links ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  margin-right: 5rem;
}

/* Search box */
.navbar_links ul .search_box {
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li input {
  height: 10px;
  position: relative;
  font-size: 14px;
  width: 400px;
  background-color: #d1d4d3;
  padding: 20px 0;
  padding-left: 20px;
  color: #424242;
}
.search_box button {
  background-color: #d1d4d3;
  position: absolute;
  top: 34%;
  left: 49%;
  border: none;
  cursor: pointer;
}
.search_box button i {
  color: #434343;
}
/* End of search box */

.navbar_links ul li a {
  text-decoration: none;
  color: #4a4a4af1;
  padding-bottom: 0.2rem;
  font-size: 16px;
}
.navbar_links .nav_li:after {
  content: "";
  width: 0; 
  height: 3px;
  display: block;
  margin-top: 4px;
  background: #185e7c;
  transition: width .2s ease;
  -webkit-transition: width .4s ease;
  border-radius: 5px;
  text-transform: scale(2);
}
.nav_li:hover:after{
  width: 100%;
  background-color: #0b6b94;
}

/* Login button */
span {
  background-color: #0b6b94;
  padding: .5rem 2.5rem;
  border-radius: 8px;
  color: #fff;
}
span:hover {
  /* background-color: #239276; */
  background-color: #2a97bb;
  transition: all 0.4s linear;
}
/* End of navbar */


/* Header image */
.header_image{
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: 500px;
}
/* main image before sliding */
.head_img {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(165, 226, 234);
}
.head_img img{
  background-color: rgb(165, 226, 234);
  width: 50%;
  height: 100%;
  object-fit: contain;
}
/* End of header image */

/* Header text */
 .header_image .header_text {
  position: absolute;
  top: 35%;
  right: 10%;
  font-size: 40px;
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  gap: .6rem;
}
.header_text h2 {
  font-size: 40px;
  color: #106365;
}
.header_text p {
  font-size: 20px;
  color: #22997f;
}
.header_text .resource_butn {
  width: max-content;
  position: relative;
  border: none;
  background: none;
  margin-top: 1rem;
}

/* View resources button */
.resource_butn a{
    font-weight: light;
    padding: .6rem;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 100%;
    /* border-radius: 15px; */
    background-color: #00907d;
    box-shadow: 2px 4px 10px 0px rgba(122, 255, 173, 0.40);
}
.resource_butn a::after {
    display: inline-block;
    padding-left: 8px;
    content: "\02C3";
    -webkit-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.resource_butn a:hover::after {
    transition: all 0.5s linear;
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}
.resource_butn a:hover {
    background-color: #129267;
    transition: all 0.5s linear;
}
/* End of header imag and text div */


/* Main content blocks */
.content_blocks {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

/* Main Content */
.main_content {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.main_content h2 {
  font-size: 35px;
  color: #1c7ca9;
}
.content_blocks .inner_blocks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 80%;
  margin: auto;
}
.inner_blocks .card {
  /* display: block; */
  width: 18rem;
  height: 18rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 25px #a4a3a3;
}
.card .card_img {
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 40%;
  width: 100%;
  overflow: hidden;
}
.card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
.card img:hover {
  transform:  scale(1.2);
  overflow: hidden;
  /* height: 100%; */
  /* width: 30%; */
}
.card .card_body {
  /* background-image: url("../images/card_img.webp"); */
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0 .8rem;
  /* height: 800px; */
}
.card_body h3 {
  color: rgb(43, 69, 102);
  padding-top: 0.8rem;
}
.card_body p {
  font-size: 12px;
  /* font-weight: 450; */
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}
.card_body a {
  width: max-content;
  text-decoration: none;
  color: #007590;
  font-size: 14px;
  transition: all 0.4s ease;
  background-color: #a7ebfb;
  border-radius: 15px;
  padding: .2rem .5rem;
}
.card_body a:hover {
  color:#00d3f8;
  /* text-decoration: underline; */
}

/* End of content block div */

/* Separate view button */
.item_button:hover {
  background-color: #4eca90;
  transition: background-color 0.4s linear;
}

.view_button {
  text-align: center;
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.butn {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  background-color: #2eb086;
  padding: .8rem .9rem;
  border: none;
  border-radius:7px;
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: background-color 0.4s linear;
}
.butn:hover {
  background: #4eca90;
  transition: all 0.4s ease;
}
/* End of separate button */

/* certificates section */
.certificates {
  background-image: linear-gradient(to left, #0fb263, #4ab45b, #68b555, #81b651, #96b650);
  width: 100%;
  padding: 2rem;
}
.certificates h2 {
  text-align: center;
  font-size: 35px;
  color: #146356;
  padding-bottom: 1.5rem;
}
.certificates .cert_items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100%;
}
.cert_items .c_items {
  width: 20%;
  height: 100%;
  position: relative;
}
.c_items img {
  /* border: 2px solid rgb(0, 97, 0); */
  border-radius: 10px;
  height: 100%;
  width: 100%;
  box-shadow: 5px 10px 10px rgb(57, 137, 81);
/* 
  filter: blur(5px);
  -webkit-filter: blur(5px); */
}
.c_items h3 {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  box-shadow: 0px 5px 10px rgb(131, 131, 131);
  /* background: rgb(158, 220, 220); */
}
.c_items h3 a {
  text-decoration: none;
  color: #074a3f;
}
.certificates .view_more {
  text-align: center;
  margin-top: 2rem;
}
.view_more .buttn {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  background-color: #008d61;
  padding: .8rem .9rem;
  border: none;
  border-radius:7px;
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: background-color 0.4s linear;
}
.buttn:hover {
  background: #26a96c;
  transition: all 0.4s ease;
}
/* End of certificate div */

/* Contact Us */
.contact_div {
  width: 78%;
  background-color: #0FB263;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 5rem;
  margin-top: 5rem; 
}
.contact_div .wrapper {
  display: flex;
  width: 100%;
}
.contact_div h3{
  text-align: center;
  color: #fff;
  padding: 2rem 0;
  font-size: 30px;
}

/* Input area */
.contact_div .input_part {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 50%; 
}
input, textarea {
  padding: 1rem;
  background-color: #f1efefe3;
  border-radius:8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: medium;
}
textarea {
  resize: none;
}
input {
  padding-left: 3.5rem;
  position: relative;
}
input:focus, textarea:focus {
  outline: none;
}

/* Contact Icons */
.input_part img {
  height: 25px;
  width: 25px;
}
.avatar_icon{
  margin: 1rem 1rem; 
  position: absolute;
  z-index: 1;
}
.msg_icon {
  margin: 5.8rem 1rem;
  position: absolute;
  z-index: 1;
}
/* End of contact Us div */

/* Submit button */
.submit_btn{
  padding: .8rem;
  width:100%;
  font-weight: bold;
  font-size: 20px;
  background-color: #1b845c;
  border-radius:9px;
  border: none;
  color: #fff;
  transition: background-color 0.4s linear;
  transition: color 0.4s linear;
  cursor: pointer;
}
.submit_btn:hover {
  background-color: #10a274;
  color: #333;
}

/* Envelope div image */
.envelope_icon_div {
  width: 350px;
  height: 350px;
  margin: 0 auto;
}
.envelope_icon_div img{
  width: 100%;
  height: 100%;
}
/* End of Contact*/


/* About us div*/
.about_div {
  /* background-color: #EEEE; */
  background-image: linear-gradient(to left, #0fb263, #4ab45b, #68b555, #81b651, #96b650);
  display: block;
}
.about_div h3 {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 35px;
  color: #146356;
}
.about_div .members {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  /* width: 100%; */
}
.about_div .members .member{
  /* background-color: #38d8a2; */
  padding: 0.6rem;
  width: 200px;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}
.members .member .avatar_parent{
  width: 130px;
  height: 150px;
  margin: 0 auto;
}
.members .member .member_img {
  background-color: rgb(134, 194, 194);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.members .member h4 {
  color: #000;
  padding: .5rem;
  margin-top: .3rem; 
  font-size: 17px;
  width: 100%;
}
.members .member .profile {
    /* background-color: red; */
    /* background-color: #71DFE7; */
    padding: .2rem;
    width: 100%;
}
.profile p {
    color: #024979;
    font-size: 14px;
    font-weight: 550;
}

/* End of About div */


/* Footer */
.footer {
  /* background-color: #1a9c75; */
  background-color: #07a274;
  margin-top: 2rem;
}
.footer .footer_inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: antiquewhite; */
}
.foot_logo {
  width: 25%;
  height: 300px;

}
.foot_logo img {
  width: 100%;
  height: 100%;
  /* background-color: #2eb086; */
}
/* Footer page links */
.footer_inner .links_container {
  display: flex;
  justify-content: space-evenly;
  /* background-color: red; */
  width: 50%;
  padding: 3rem 0;
}
.links_container .resources h4, .community_link h4 {
  font-family: 'Acme', sans-serif;
  font-weight: 2;
  font-size: 20px;
  padding: 1rem;
  padding-top: 0;
}
.links_container .links, .community_link .communities {
    padding: 1rem 1em;
    border-left: 2px solid rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.links a, .community_link a{
  text-decoration: none;
  color: rgb(41, 37, 37);
}
.links a:hover, .community_link a:hover{
  color: #c0392b;
  transition: color 0.3s ease;
}
/* End of footer links */

/* Social div */
.social_div h4 {
  font-family: 'Acme',sans-serif;
  font-weight: 2;
  font-size: 20px;
  padding: 1rem;
  padding-top: 0;
}
.social_div .icon_links {
  padding: 1rem 1em;
  border-left: 2px solid rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  gap: .7rem;
}
.social_div .icon_links {
  text-decoration: none;
  /* background-color: #ff4500; */
}
.icon_links a {
  width: 40px;
  height: 25px;
  color: #000;
}
.bx{
  width: 100%;
  height: 100%;
  font-size: 1.7em;
}
.bxl-facebook-circle:hover {
  color: #0000ff;
  transition: color 0.3s ease;
}
.bxl-instagram:hover{  background: -webkit-linear-gradient(50deg, rgba(205,205,64,1) 20%, rgba(208,41,9,1) 40%, rgb(146, 33, 175) 54%,  rgb(199, 106, 121) 80%, rgb(158, 38, 206) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  transition: color 0.3s ease;
}
.bxl-twitter:hover {
  color: #1c93e4;
  transition: color 0.3s ease; 
}
.bxl-github:hover {
  color: #fff;
  transition: color 0.3s ease;
}
/* End of social div*/

.copyright_div {
  text-align: center;
}
.copyright_div p {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
}
/* End of footer*/
