@media  (min-width: 280px) and (max-width:720px){
    body{
        width: 100%;
        position: relative;
        height: 100%;
        display: block;
    }

    /* Header */
    div.navigation {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        margin: 0rem;
    }
    .navigation .navbar_logo {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        margin-left: 0rem;
        display: flex;
        justify-content: space-between;
        padding: .6rem;
    }
    .navbar_logo a {
        margin-left: 1rem;
        height: 40px;
        width: 120px;
    }
    .navigation .icon1 {
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }

    /* Sidebar */
    .navigation .sidebar {
        display: block;
        background-color: #1f806b;
        height: 40px;
        width: 40px;
        border-radius: 7px;
        cursor: pointer;
    }
    .sidebar .top {
        padding: .4rem;
        color: #fff;
    }   
    .sidebar:hover{
        cursor: pointer;
    } 
    .navigation .navbar_links {
        width: 40%;
        display: none;
        transform: translateX(300px);
        right: 0;
        position: absolute;
        z-index: 1;
        top: 55px;
        /* background-color: red; */
        margin-right: 2rem;
    }
    @keyframes slide {
        0%{
            transform: translateX(200px);
        }
        25%{
            transform: translateX(150px);
        }
        50%{
            transform: translateX(100px);
        }
        75%{
            transform: translateX(50px);
        }
        100%{
            transform: translateX(0px);
        }
    }
    .navbar_links ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap:0.4rem;
        background-color: #39a17a;
        padding: 1rem 0;
        position: relative;
    }
    .navbar_links ul li {
        /* background-color: bisque; */
        margin: 0;
        text-align: center;
        padding: .4rem 0rem;
    }
    .navbar_links ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        width: 100%;
    }
    
    .nav_li:hover:after{
        background-color: #013119;
      }

    span {
        font-size: 12px;
        background: #196d5a;
        border-radius: 15px;
        color: #fff;
    }
    span:hover {
        background-color: #127e63;
        transition: all 0.4s linear;
      }
    /*End of Header div  and sidebar*/

    /* Header image and text */
    .header_image {
        width: 100%;
        height: 100%;
    }
    .head_img {
        width: 100%;
        height: 100%;
    }
    .header_image .header_text { 
        top: 100%;
        right: 0;
        text-align: center;
        width: 100%;
    }
    .header_text h2 {
        font-size: 25px;
        padding-top: .7em;
    }
    .header_text p {
        font-size: 15px;
        padding-bottom: 0.5rem;
        width: 80%;
        margin: 0 auto;
    }
    .header_text .resource_butn {
        margin: 0 auto;
    }
    .header_text .resource_butn a {
        font-size: 13px;
    }

    /* End of header image and text */


    /* Content blocks */
    .content_blocks {
        margin-top:13rem;
        padding:.2em;
        
    }
    .main_content h2 {
        font-size: 27px;
    }
    .content_blocks .inner {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .content_blocks .block_items {
        width: 80%;
        margin: 0 auto;
    }
    .content_blocks .block_items .items {
        grid-template-columns: repeat(2, 1fr);
    }
    /* End of content blocks */

    /* Separate view button */
    .view_button {
        margin-top: 1.7rem;
    }

    /* Certificate div */
    .certificates {
        background-image: linear-gradient(to left, #0fb263, #4ab45b, #68b555, #81b651, #96b650);
        width: 100%;
        padding: 2rem;
    }
    .certificates h2 {
        text-align: center;
        font-size: 25px;
        padding-bottom: 1.5rem;
    }

    mark{
        display: block;
    }
    .certificates .cert_items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    .cert_items .c_items {
        width: 90%;
        height: 100%;
        position: relative;
    }
    .c_items img {
        height: 100%;
        width: 100%;
    }
    .view_more .buttn {
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        background-color: #008d61;
        padding: .8rem .9rem;
        border: none;
        border-radius:7px;
        cursor: pointer;
        color: #fff;
        outline: none;
        transition: background-color 0.4s linear;
    }
    /* End of certificate div */
    
    /* Contact div */
    .contact_div {
        width: 90%;
    }
    .contact_div .wrapper {
        flex-direction: column-reverse;
        width: 100%;
    }
    .contact_div .input_part {
        padding:1em;
        width: 100%; 
    }
    input{
        width:100%;
        display: block;
    }
    .envelope_icon_div {
        width: 100px;
        height: 100px;
    }
    /* End of contact div */

    /* About div */
    .about_div .members{
        flex-direction: column;
        margin-top: 2rem;
    }
    .about_div .members .member{
        width: 80%;
    }
    .members .member h4 {
        background-color: rgb(192, 146, 146);
        margin: 0 auto; 
        margin-top: 1rem;
        /* padding: .6rem; */
        font-size: 13px;
        width: max-content;
    }
    /* End of about div */

    /* Footer */
    .footer .footer_inner {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }
    .footer_inner .links_container {
        display: flex;
        width: 40%;
        flex-direction: column;        
        padding-top: 0;
    }
    .community_link h4, .social_div h4,     .links_container .resources h4 {
        padding-top: 2rem;
        padding-bottom: .7rem;
    }
    .links a, .community_link a{
        text-decoration: none;
        color: rgb(41, 37, 37);
    }
    .links a:hover, .community_link a:hover{
        color:#c0392b;
        transition: color 0.3s ease;
    }
    .foot_logo {
        width: 300px;
        height: 300px;
        /* background-color: antiquewhite; */
    }
    .foot_logo .brain_logo {
        width: 100%;
        height: 100%;
    }
    .copyright_div{
        padding:.4em;
    }
    .copyright_div p {
        margin-bottom: 0;
        font-size: 10px;
    }

    /* End of footer */
}


/* 721px to 868px */
@media  (min-width: 721px) and (max-width:868px){
    body{
        width: 100%;
        position: relative;
        height: 100%;
        display: block;
    }

    /* Header */
    div.navigation {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        margin: 0rem;
    }
    .navigation .navbar_logo {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        margin-left: 0rem;
        display: flex;
        justify-content: space-between;
        padding: .6rem;
    }
    .navbar_logo a {
        margin-left: 1rem;
        height: 40px;
        width: 120px;
    }
    .navigation .icon1 {
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }

    /* Sidebar */
    .navigation .sidebar {
        display: block;
        background-color: #1f806b;
        height: 40px;
        width: 40px;
        border-radius: 7px;
        cursor: pointer;
    }
    .sidebar .top {
        padding: .4rem;
        color: #fff;
    }   
    .sidebar:hover{
        cursor: pointer;
    } 
    .navigation .navbar_links {
        width: 30%;
        display: none;
        transform: translateX(300px);
        right: 0;
        position: absolute;
        z-index: 1;
        top: 55px;
        /* background-color: red; */
        margin-right: 2rem;
    }
    @keyframes slide {
        0%{
            transform: translateX(200px);
        }
        25%{
            transform: translateX(150px);
        }
        50%{
            transform: translateX(100px);
        }
        75%{
            transform: translateX(50px);
        }
        100%{
            transform: translateX(0px);
        }
    }
    .navbar_links ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap:0.4rem;
        background-color: #39a17a;
        padding: 1rem 0;
        position: relative;
    }
    .navbar_links ul li {
        /* background-color: bisque; */
        margin: 0;
        text-align: center;
        padding: .4rem 0rem;
    }
    .navbar_links ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        width: 100%;
    }
    
    .nav_li:hover:after{
        background-color: #013119;
      }

    span {
        font-size: 12px;
        background: #196d5a;
        border-radius: 15px;
        color: #fff;
    }
    span:hover {
        background-color: #127e63;
        transition: all 0.4s linear;
      }
    /*End of Header div  and sidebar*/

    /* Header image and text */
    .header_image {
        width: 100%;
        height: 100%;
    }
    .head_img {
        width: 100%;
        height: 100%;
    }
    .header_image .header_text { 
        top: 100%;
        right: 0;
        text-align: center;
        width: 100%;
    }
    .header_text h2 {
        font-size: 25px;
        padding-top: .7em;
    }
    .header_text p {
        font-size: 15px;
        padding-bottom: 0.5rem;
        width: 80%;
        margin: 0 auto;
    }
    .header_text .resource_butn {
        margin: 0 auto;
    }
    .header_text .resource_butn a {
        font-size: 13px;
    }

    /* End of header image and text */


    /* Content blocks */
    .content_blocks {
        margin-top:8rem;
        padding:.2em;
        
    }
    .main_content h2 {
        font-size: 27px;
    }
    .content_blocks .inner {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .content_blocks .block_items {
        width: 80%;
        margin: 0 auto;
    }
    .content_blocks .block_items .items {
        grid-template-columns: repeat(2, 1fr);
    }
    /* End of content blocks */

    /* Separate view button */
    .view_button {
        margin-top: 1.7rem;
    }

    /* Certificate div */
    .certificates {
        background-image: linear-gradient(to left, #0fb263, #4ab45b, #68b555, #81b651, #96b650);
        width: 100%;
        padding: 2rem;
    }
    .certificates h2 {
        text-align: center;
        font-size: 25px;
        padding-bottom: 1.5rem;
    }

    .certificates .cert_items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    .cert_items .c_items {
        width: 60%;
        height: 100%;
        position: relative;
    }
    .c_items img {
        height: 100%;
        width: 100%;
    }
    .view_more .buttn {
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        background-color: #008d61;
        padding: .8rem .9rem;
        border: none;
        border-radius:7px;
        cursor: pointer;
        color: #fff;
        outline: none;
        transition: background-color 0.4s linear;
    }
    /* End of certificate div */
    
    /* Contact div */
    .contact_div {
        width: 90%;
    }
    .contact_div .wrapper {
        flex-direction: column-reverse;
        width: 100%;
    }
    .contact_div .input_part {
        padding:1em;
        width: 100%; 
    }
    input{
        width:100%;
        display: block;
    }
    .envelope_icon_div {
        width: 100px;
        height: 100px;
    }
    /* End of contact div */

    /* About div */
    .about_div .members{
        /* flex-direction: column; */
        margin-top: 2rem;
    }
    .about_div .members .member{
        width: 80%;
    }
    .members .member h4 {
        background-color: rgb(192, 146, 146);
        margin: 0 auto; 
        margin-top: 1rem;
        /* padding: .6rem; */
        font-size: 13px;
        width: max-content;
    }
    /* End of about div */

    /* Footer */
    .footer .footer_inner {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }
    .footer_inner .links_container {
        display: flex;
        width: 40%;
        flex-direction: column;        
        padding-top: 0;
    }
    .community_link h4, .social_div h4,     .links_container .resources h4 {
        padding-top: 2rem;
        padding-bottom: .7rem;
    }
    .links a, .community_link a{
        text-decoration: none;
        color: rgb(41, 37, 37);
    }
    .links a:hover, .community_link a:hover{
        color:#c0392b;
        transition: color 0.3s ease;
    }
    .foot_logo {
        width: 300px;
        height: 300px;
        /* background-color: antiquewhite; */
    }
    .foot_logo .brain_logo {
        width: 100%;
        height: 100%;
    }
    .copyright_div{
        padding:.4em;
    }
    .copyright_div p {
        margin-bottom: 0;
        font-size: 10px;
    }

    
    
    
    
}




/* 869px to 1240px */
@media  (min-width: 869px) and (max-width:1240px){
    body{
        width: 100%;
        position: relative;
        height: 100%;
        display: block;
        /* background-color: #ff6363; */
        overflow-x: hidden;
    }
    .navigation .navbar_logo {
        margin-left:1rem;
      }

      .navbar_links ul {
        margin-right:1rem;
      }
      .content_blocks .inner {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
      }
      .cert_items .c_items {
        width: 40%;
        height: 100%;
        position: relative;
      }
      .contact_div .wrapper {
        flex-direction: column-reverse;
      }
      .contact_div .input_part {
        padding:1em;
        width: 80%; 
        margin: auto;
    }
    input{
        width:100%;
        display: block;
    }
    .envelope_icon_div {
        width: 100px;
        height: 100px;
    }
    .header_image .header_text {
        right:0.9rem;
      }
    .footer_inner .links_container {
        width: 70%;
      }
}

