<%- include("../../partials/head")%>
<body>
  <%- include("../../partials/navbar")%>
  <!--  Contributors -->
  <div class="about_div" id="about">
    <h3>Our team</h3>
    <div class="members">
      <div class="member">
        <div class="avatar_parent">
          <img
            src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290801/Courses/Page%20Content/abhishek_ofl6wj.png"
            alt=""
            class="member_img"
          />
        </div>
        <div class="profile">
          <h4>Abhishek Kumar</h4>
          <p>Frontend Developer</p>
        </div>
      </div>
      <div class="member">
        <div class="avatar_parent">
          <img
            src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290838/Courses/Page%20Content/karuna_gwphao.png"
            alt=""
            class="member_img"
          />
        </div>
        <div class="profile">
          <h4>Karuna Yadav</h4>
          <p>Fullstack Developer</p>
        </div>
      </div>
      <div class="member">
        <div class="avatar_parent">
          <img
            src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290863/Courses/Page%20Content/ravi_nsxjgw.png"
            alt=""
            class="member_img"
          />
        </div>
        <div class="profile">
          <h4>Ravi Kumar</h4>
          <p>Fullstack Developer</p>
        </div>
      </div>
      <div class="member">
        <div class="avatar_parent">
          <img
            src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290887/Courses/Page%20Content/rajneesh_pxsppm.png"
            alt=""
            class="member_img"
          />
        </div>
        <div class="profile">
          <h4>Rajneesh Pandey</h4>
          <p>Frontend Developer</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Contributors div -->
  <%- include("../../partials/footer")%>
  <script src="/js/script.js"></script>
</body>
