<img src="<%= getCourse.image%>" alt="Logo" />
<h1><%=getCourse.title%></h1>
<br />
<h4>Platform: <%=getCourse.platform%></h4>
<br />
<a href="<%= getCourse.url%>" target="_blank">Go to the course</a>
<br />
<br />
